/* CSS Document */

* {
  margin: 0;
  padding: 0;
}

html, 
body {
  min-width: 900px;
}

body {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: normal;
  font-family: 'Roboto', Arial, sans-serif;  
  background-color: #849d8f;
}

.main-header {
  width: auto;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding-left: 2.3%;
  padding-right:2.3%;
  margin: 0 auto;
  vertical-align: middle;
  position: relative;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.main-logo {
  margin-left: -5px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
}

a img {
  border: none;
}

.ico_hit, .ico_leaf, .ico_icecream, .ico_therm, .ico_cow, .ico_tw, .ico_instagram, .ico_vk, .ico_fb, .ico_cart, .ico_cart-full, .ico_enter, .ico_loupe, .ico_favorite {
  display: inline-block;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat
}


.main-navigation {
  position: relative;
  z-index:6;
  display: inline-block;
  vertical-align: middle;
  min-width: 390px;
  margin-left: 14px;
}

.mainmenu {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.mainmenu-item {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
}

.mainmenu-item a {
  color: #ffffff;
  text-decoration: underline;
  display: block;
  padding: 8px 12px;
}


.mainmenu-item:hover>a {
  background-color: #f8f7f4;
  color: #323232;
  text-decoration: none;
  border-radius: 20px;

}

.mainmenu-item a:active {
  background-color: #ededed;
  box-shadow: inset 0 7px 2px -5px #696969; 
  border: none;
}

.mainmenu-item .active {
  background-color: #d07058;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 8px 12px;
}

.mainmenu-item:hover .submenu {
  display: block;
  margin-top: 5px;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #f8f7f4;
  border-radius: 5px;
  padding: 6px 0px;
  list-style: none;
  left: -8px;
}

.submenu-item a {
  color: #323232;
  font-weight: normal;
  font-size: 14px; 
  line-height: 16px;
  text-decoration: none;
  white-space: nowrap;
  padding: 7px 21px;
  display: block;
}

.news {
  border-bottom: 1px solid #d1d0ce;
}

.news a {
  padding-top: 4px;
  padding-bottom: 10px;
  font-weight: bold;
}

.submenu-item a:hover {
  border: none;
  background-color: #fbded7;
  border-radius: 0;
}

.submenu-item a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.submenu-item .active {
  background-color: #d07058;
  border-radius: 0;
  padding: 10px 22px;
}

.user-block {
  position: relative;
  z-index: 6;
  float: right;
  margin-top: 23px;
  font-size: 0px;
}

.user-block > div {
  display: inline-block;
  font-size: 14px;
  position: relative;
}

.header-button {
  display: inline-block;
  vertical-align: middle;
  background-color: #a1b4a9;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  padding: 8px 16px 8px 46px;
  margin-right: 9px;
}

.header-button::before {
  content: '';
  display: block;
  position: absolute;
  background:  url('../img/sprite.png') no-repeat;
  top: 6px;
  left: 17px;
}

.search {
  font-size: 0;
  border-radius: 50%;
  padding: 0;
  height: 32px;
  width: 32px;
}

.search::before {
  background-position: -0px -53px;
  height: 17px;
  width: 17px;  
  top: 7px;
  left: 7px;
}

.search:hover, .user-search-block:hover > .search,
.login:hover, .user-login-block:hover > .login,
.cart-full:hover, .user-cart-block:hover > .cart-full  {
  background-color: #f8f7f4;
  color: #323232;
}

.user-search-block:hover .search-block,
.user-login-block:hover .sign-block,
.user-cart-block:hover .cart-full+.cart-block {
  display: block;

  margin-top: 5px;
}

.search:hover::before, .user-search-block:hover > .search::before{
  background-position: -19px -53px;
}

.login::before {
  background-position: -38px -52px;
  height: 19px;
  width: 21px;
}

.login:hover::before, .user-login-block:hover > .login::before {
  background-position: -60px -51px;
}

.cart, .cart-full {
  min-width: 55px;
  margin-right: 0;
}

.cart::before {
  background-position: -104px -50px;
  height: 20px;
  width: 21px; 
}

.cart-full::before {
  background-position: -82px -50px;
  height: 20px;
  width: 21px;
}


.user-search-block, .user-login-block, .user-cart-block {
  position: relative;
  padding-bottom: 10px;
}


.search-block {
  display: none;
  width: 307px;
  height: 40px;
  right: 0;
  z-index: 3;
}

.sign-block {
  width: 243px;
  height: 190px;
  right: 0;
  z-index: 2;
  display:none; 
}

input, textarea {
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  margin-bottom: 20px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #b2b2b2;
  font-size: 14px;
  line-height: 44px;
  padding-left: 18px;
}

input:hover, textarea:hover {
  border: 2px solid rgba(152,152,152,0.52);
}

input:focus, textarea:focus {
  border: 2px solid rgba(46,136,228,0.52);
  outline:none;
}


.block-input, .block-textarea {
  display: table;
  position: relative;
  width: 100%;
}

.block-input input, .block-textarea textarea {
  display: table-row-group;
}

.block-input label,
.block-textarea label {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
  position: absolute;
  top: -16px;
  display: none;
}
 
.block-input input:focus + label,
.block-textarea textarea:focus + label {
  display: table-header-group;
}

.block-input input:valid + label {
  color: #999999;
  display: table-header-group; 
}

 

.forms {
  position: absolute;
  background-color: #f8f7f4;
  padding: 22px 17px;
  border-radius: 5px;
}

.forms textarea {
  height: 155px;
  color: #999999;
  resize: none;
}

.forms-wrapper {
  width: 100%;
  font-size: 0px;
}

.forms-wrapper > div {
  display: inline-block;
  vertical-align: middle;
}

.forms-wrapper > div:not(:last-child){
  margin-right: 20px;
}

.sign-block-links {
  width: 120px;
  margin-right: 0px;
}

.sign-block-links a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.sign-block-links a:hover, 
.sign-block-links a:active {
  color: #e84d37;
}

.btn {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 23px;
  border-radius: 30px;
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(0deg, #e74a35, #f26843);
  background-color: #ec593c;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160,32,11,0.52);
}

.btn:hover {
  background-image: -webkit-linear-gradient(bottom, #f58569, #ec6f5e);
  background-image: linear-gradient(0deg, #f58569, #ec6f5e);
}

.btn:active {
  background-image: -webkit-linear-gradient(bottom, #d74632, #e1613e);
  background-image: linear-gradient(0deg, #d74632, #e1613e);
  box-shadow: inset 0 7px 1px -5px #942718;
}

button {
  border: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.feedback {
  display: none;
  position: absolute;
  z-index: 12;
  top: 10%;
  left: 25%;
  width: 444px;
  height: 399px;
  }


.modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close-btn::before,
.modal-close-btn::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 2px;
  background-color: #121212;
  border-radius: 1px;
}

.modal-close-btn::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback-header {
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-button {
  float: right;
}

.location-address .btn {
  box-sizing: border-box;
}


.cart-block {
  display: none;
  width: 510px;
  min-height: 199px;
  right: 0;
  z-index:5;
}

.cart-block img {
  width: 38px;
  height: 38px;
  vertical-align: middle;
  margin-left: 15px;
}

.cart-item-name {
  display: inline-block;
  vertical-align: text-top;
  max-width: 217px;
  margin-left: 15px;
  padding-bottom: 10px;
}

.del-btn {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  background: url('../img/del.svg') no-repeat top center;
  cursor: pointer;
}

.user-cart {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-cart td {
  padding: 10px 7px;
  vertical-align: text-top;
  font-size: 13px;
  line-height: 16px;
}

.user-cart td:first-child {
  padding-left:0px;
  min-width: 305px;
}

.user-cart td:first-child {
  padding-right: 0px;
}


.user-cart .total {
  text-align: right;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  border-top: 1px solid #cacac7;
}

.cart-block .btn {
  float: right;
}


.page-header-container {
   display: block; 
   margin-bottom: 2px;
}

.breadcrumb {
  float: left;
  list-style: none;
  margin-top: 6px;
  color: #fff;
}

.breadcrumb li {
  display: inline-block;
  list-style-type: none;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumb li:not(:last-child)::after {
  content: '»';
}

.breadcrumb li a {
  color: #fff;
  font: inherit;
}

.breadcrumb li a:hover, .breadcrumb li a:active {
  color: #ffbc9e;
}

.main-info {
  position: relative;
  margin-top: -16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  z-index: 1;
  float: right;
  width: 170px;
  text-align: right;
  color: #ffffff;
}

.main-info span {
  font-size: 22px;
  line-height: 24px;
  display: block;
  margin-top: 5px;
}

.carusel {
  position: relative;
  width: auto;
  height: 1020px;
  margin-bottom: -460px;
  z-index: 0;
  top: -90px;  
}

.slide_1 {
  background-image: url('../img/light_1.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide_2 {
  background-image: url('../img/light_1.png');
}

.slide_2 {
  background-image: url('../img/light_1.png');
}

.carusel img {
  display: block;
  margin: 0 auto;
}

.carusel-item {
  display: none;
  padding-top: 86px;
}

.carusel-item.active {
  display:block;
}

.carusel-item-promo {
  display: block;
  margin: 0 auto;
  margin-top: -276px;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  color: #ffffff;
  width: 700px;
  text-align: center;
}

.carusel .btn {
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
  width: 237px;
  text-align: center;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  border-radius: 40px;
}

.carusel-indicators {
  list-style: none;
  position: absolute;
  top: 564px;
  left: 0;
  width: 120px;
  min-height: 25px;
}

input[name='carusel-input'] {
  display: none;
}


input[name='carusel-input']+label::before{
	content:"";
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:middle;
	margin-right:5px;
	border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

input[name='carusel-input']:checked+label::before{
	background: #ffffff;
}

input[name='carusel-input']:not(:checked)+label:hover::before{
	background: #b2c1b7;
}


.carusel-indicators li {
  display: inline-block;
}

.banners {
  position: relative;
  width: 100%;
  z-index: 2;
}

.banners-container {
  width: 48.8%;
  box-sizing: border-box;
  margin-right: 2.2%;
  min-height: 229px;
  float: left;
  margin-bottom: 40px;
  border-radius: 18px;
  padding: 16px 26px 23px 17px;
  color: #ffffff;
  font-weight: bold;
  position: relative;
}

.banners-container:last-child {
  float: right;
  margin-right: 0;
}

.raspberry {
  background: #9b2c4b url('../img/raspberry.png') no-repeat;
}

.chocolate {
  background: #573218 url('../img/chocolate.png') no-repeat;
}

.banners-header {
  font-size: 35px;
  line-height: 41px;
}

.banners-description {
  font-size: 18px;
  line-height: 22px;
  margin-top: 14px;
}

.banners-container .btn {
  position: absolute;
  bottom: 26px;
  right: 18px; 
}

.filters {
  width: 860px;
  min-height: 140px;
  margin-top: 26px;
  margin-bottom: 28px;
}

.filters-group {
  margin-bottom: 14px;
}

.filters-item, .filter-item-radio, .filter-item-checkbox {
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
}

.filter-item-radio {
  margin-right: 15px;
}

.filters-item:last-child {
  margin-right: 0px;
}

.filter-item-checkbox:last-child {
  margin-right: 5px;
}

select[name='sortlist'] {
  border: none;
  width: 194px;
  border-radius: 18px;
  padding: 7px 12px;
  font: inherit;
  color: #fff;
  appearance:none;
  -moz-appearance:none; 
  -webkit-appearance:none; 
  background: #aabcb2 url('../img/white-marker.png') no-repeat 170px center;
}


select[name='sortlist']:hover {
  background: #fff url('../img/black-marker.png') no-repeat 170px center;
  color: #323232;
}

.filters-item-slider {
  background-color: #aabcb2;
  border-radius: 18px;
  position: relative;
  height: 36px;
  width: 216px;
}

.slider {
  width: 188px;
  height: 2px;
  background: #d1dad3;
  position: absolute;
  top: 16px;
  left: 16px;
}

.toggle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  position: absolute;
  left: 0;
  top: 8px;
  cursor: pointer;
}
  
.left {
  left: 35px;
}

.right {
  left: 132px;
}

.range {
  background-color: #f8f7f4;
  width: 112px;
  left: 40px;
}

.filter-item-radio:last-child {
  margin-right: 0px;
}


.filters-item-header {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  padding-left: 16px;
  padding-bottom: 6px;
}

.filters-item-group {
  background-color: #aabcb2;
  border-radius: 18px;
  padding: 9px 15px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.filter-item-radio input, .filter-item-checkbox input {
  display: none;
}

.filter-item-radio input+label, .filter-item-checkbox input+label {
  display: inline-block;
  vertical-align: middle;
}


.filter-item-radio label, .filter-item-checkbox label {
  position: relative;
  font: inherit;
  padding-left: 30px;
}

.filter-item-radio label::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.filter-item-radio input[name='fats']:not(checked)+label::after {
  content: '';
  display: none;
  width: 10px;
  height: 10px;
  top: 1px;
  left: 5px;
  position: absolute;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}

.filter-item-radio input[name='fats']:checked+label::after {
  display: block;
}

.filter-item-radio input[name='fats']:disabled +label {
  opacity: 0.4;
}

.filter-item-radio input[name='fats']:not(:disabled)+label:hover::before {
  border: 2px solid #fff;
}

.filter-item-checkbox:not(:last-child) {
  margin-right: 20px;
}


.filter-item-checkbox label::before {
  content: '';
  position: absolute;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 22px;
  height: 21px;
  box-sizing: border-box;
  top: -2px;
  left: 0;
}


.filter-item-checkbox input[name^='filter-']:not(checked)+label::after {
  content: '';
  display: none;
  width: 14px;

  height: 10px;
  top: 4px;
  left: 3px;
  position: absolute;
  background:url('../img/sprite.png') no-repeat;
  background-position: -135px -94px;
}

.filter-item-checkbox input[name^='filter-']:checked+label::after {
  display: block;
}

.filter-item-checkbox input[name^='filter-']:disabled +label {
  opacity: 0.4;
}

.filter-item-checkbox input[name^='filter-']:not(:disabled)+label:hover::before {
  border: 2px solid #fff;
}


.filter-btn {
  display: inline-block;
  box-sizing: border-box;
  height: 36px;
  vertical-align: middle;
  padding: 5px 28px;
  font: inherit;
  color: #fff;
  background-color: #a6b7ae;
  border: 2px solid #fff;
  border-radius: 18px;
  margin-top: 22px;
  margin-left: -4px;
}

.filter-btn:hover {
  background-color: #fff;
  color: #323232;
}

.filter-btn:active {
  background-color: #eaeaea;
  border: none;
  box-shadow: inset 0 7px 2px -5px #696969;
  outline: none;
}

.catalog {
  text-align:center;
  font-size: 0px;
}

.catalog-item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 23.2%;
  margin-right: 2.2%;
  margin-bottom: 40px;
  font-size: 16px;
}

.index .catalog-item::before {
  content: '';
  background: url('../img/sprite.png') no-repeat -156px -50px;
  position: absolute;
  width: 61px;
  height: 61px;
  top: 0;
  left: 0; 
  z-index: 3;
}

.catalog-item:nth-child(4n) {
  margin-right: 0px;
}

.catalog-item-image {
  position: relative;
  z-index: 2; 
}

.catalog-item img {
  width: 100%;
}

.catalog-overlay {
  display: none;
  position: absolute;
  z-index:1;
  width: 109%;
  height: 128%;
  text-align: center;
  top: -8px;
  left: -4.4%;
  background: rgba(255,255,255,0.30);
  border-radius: 7px;
}

.catalog-overlay > div {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding-bottom: 10px;
}

.catalog-overlay > div .btn {
  display: block;
  z-index: 5;
  margin: 11px auto 0;
  width: 182px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
} 

.catalog-item:hover .catalog-overlay {
  display: block;
  
}

.catalog-item:not(:hover) {
  z-index:0;
}


.catalog-item-price {
  position: absolute;
  z-index: 4;
  font-size: 45px;
  line-height: 45px;
  color: #FFFFFF;
  font-weight: bold;
  bottom: 16px;
  left: 0;
}

.units {
  font-size: 30px;
  line-height: 45px;
}

.catalog-item-description {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: underline;
  margin-top: 8px;
  position: relative;
  z-index: 4;
  cursor: pointer;
}


.catalog-paginator {
  width: 190px;
  float: right;
  margin-top: 42px;
  margin-bottom: 30px;
  white-space: nowrap;
}


.catalog-paginator .current {
  background-color: #fff;
  color: #323232;
}

.catalog-paginator .disabled {
  opacity: 0.2; 
}

.catalog-paginator .prev,  .catalog-paginator .next {
  display: inline-block;
  background: url('../img/sprite.png') no-repeat;
  background-position: -137px -74px;
  width: 8px;
  height: 14px;
  margin: -2px 4px;
}

.prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);  
}


.catalog-paginator a {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  padding: 4px 7px;
  border-radius: 50%;
  font-weight: 500;

}

.catalog-paginator a:not(.current):not(.prev):not(.next):hover {
  background-color: #9db1a5; 
}

.features {
  padding: 22px 20px 10px 22px;
  margin-bottom: 40px;
  margin-top: -2px;
  background: #efe1c7 url('../img/wafer.jpg') repeat;
  border-radius: 18px;
}

.features-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-container {
  display: block;
  margin-top: 9px;
  margin-bottom: 10px;
}

.features-item {
  float: left;
  width: 48.8%;
  margin-right: 2.2%;
  position: relative;
  padding-left: 55px;
  padding-top: 15px;
  box-sizing: border-box;
}

.features-item::before {
  content: '';
  height: 49px;
  width: 49px;
  position: absolute; 
  left: 0;
  top: 0;
  background: url('../img/sprite.png') no-repeat ;
}

.icecream::before {
  background-position: -51px -0px;
}

.leaf::before {
  background-position: -0px -0px;
}

.cow::before {
  background-position: -102px -0px;
}

.therm::before {
  background-position: -153px -0px;
}

.features-item:nth-child(2n) {
  float: right;
  margin-right: 0;
}

.blog {
  font-size: 16px;
  line-height: 22px;
}

.blog > div {
  width: 48.8%;
  min-height: 220px;
  float: left;
  margin-right: 2.2%;
  margin-bottom: 40px;
  border-radius: 18px;
  box-sizing: border-box;
}

.blog > div:last-child{
  margin-right: 0;
  float: right;
}

.blog-news {
  background: #ffffff url(../img/strawberry.png) no-repeat right center;
  padding: 23px 20px;
}

.blog-news-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.blog-news-article-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  width: 290px;
  display: block;
  color: #323232;
}

.blog-news-article-header:hover {
  color: #e84d37;
}

.blog-subscribe-bg {
  padding: 6px;
  background: #f8f7f4 url('../img/post.png'); 
}

.blog-subscribe {
  background: #f8f7f4;
  border-radius: 18px;
  min-height: 208px;
  box-sizing: border-box;
  padding: 28px 20px;
  position: relative; 
}

.blog-subscribe form {
  padding-top: 34px;
  position: absolute;
  bottom: -10px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 28px 20px;
}


.subscribe-email {
  padding-right: 150px;
}


.blog-subscribe button {
  float: right;
  margin-right:0;
}

.blog-subscribe-description {
  color: #5a5a5a;
}

.location {
  background: #f3ecd4 url('../img/map.jpg') no-repeat left center;
  min-height: 430px;
  margin: 0 auto;
  position: relative;
}

.location::before {
  content: '';
  position: absolute;
  left: 266px;
  top: 138px;
  width: 218px;
  height: 142px;
  background:url('../img/marker.png') no-repeat;
}

.location-address {
  background-color: #fefefe;
  border-radius: 18px;
  width: 252px; 
  min-height: 237px;
  position: absolute;
  top: 63px;
  right: 27px;
  padding: 28px 25px;
}

.location-address span {
  font-size: 14px;
  line-height: 20px;
  display: block;
  width: 176px;
}

.location-address b {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 3px;
}

.location-address div {
  margin-top: 16px;
  margin-bottom: 24px;
}

.location .btn {
  width: 252px;
  text-align: center;
}

.footer-wrapper {
  width: 26.7%;
  float: left;
  min-height: 100px;
}

.center {
  width: 46.6%;
}

.footer-social {
  display: inline-block;
  margin-top: 22px;
}

.social-btn {
  font-size: 0px;
  position: relative;
  margin-right: 46px;
}

.social-bth:last-child {
  margin-right: 0;
}

.social-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/sprite.png') no-repeat top center;
  height: 31px;
  width: 31px;
  border: 2px solid #c2cec7;
  border-radius: 50%;
  opacity: 0.8;
}

.social-btn:hover::before {
  opacity: 1;
}

.social-btn:active::before {
  box-shadow: inset 0 7px 2px -5px #696969; 
}

.social-btn-tw::before {
  background-position: -100px -76px;
}
  
.social-btn-inst::before {
  background-position: -67px -75px;
}
  
.social-btn-fb::before {
  background-position: -0px -75px;
}

.social-btn-vk::before {
  background-position: -33px -75px;
}

.footer-info {
  display: block;
  width: 350px;
  font-size: 13px;
  vertical-align: top;
  margin: 32px auto 0;
}


.footer-info-list {
  list-style: none;
  display: inline-block;
  margin-right: 0px;
}

.footer-info-list li {
  padding-left: 26px;
  padding-bottom: 5px;
}

.favorite {
  font-weight: bold;
  position: relative;
}

.favorite::before {
  content: '';
  position: absolute;
  background: url('../img/sprite.png') no-repeat;
  background-position: -127px -56px;
  height: 13px;
  width: 17px;
  left: 0px;
  top: 3px;
}

.footer {
  border-top: 1px solid rgba(255,255,255,0.30);
}

.footer-info a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.footer a:hover, .footer a:active {
  color: #ffbc9e;
}


.footer-copyright {
  width: 189px;
  float: right;
  font-size: 12px;
  line-height: 18px;
  margin-top: 18px;
  color: #ffffff;
  white-space: nowrap;
}

.minlink {
  color: #ffffff;
}

.page-header {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
}


