/* CSS Document */

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html, 
body {
  min-width: 900px;
  background-color: #849d8f;
}

body {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: normal;
  font-family: 'Roboto', Arial, sans-serif;  
}

.main-header {
  /* здесь и далее background или outline добавлен только для наглядоности согласно условиям домашнего задания  */
  width: auto;
}

.container {
  max-width: 1112px;
  padding-left: 2.3%;
  padding-right:2.3%;
  margin: 0 auto;
  vertical-align: middle;
  outline: 2px solid #A9FF00;
  position: relative;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.main-logo {
  margin-left: -6px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
}

.main-navigation {
  display: inline-block;
  vertical-align: middle;
  width: 355px;
  margin-left: 25px;
}

.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainmenu-item, .submenu-item {
  display: inline-block;
}

.submenu {
  display: none;
}

.user-block {
  width: 260px;
  float: right;
  margin-top: 23px;
  outline: 2px solid #ffffff;
}

.forms {
  /*display:block;*/
  position: absolute;
  background-color: #f8f7f4;
  padding: 22px 17px;
}

.forms input, textarea {
  box-sizing: border-box;
  width: 100%;
  height: 41px;
  margin-bottom: 20px;
}

.forms textarea {
  height: 155px;
}

.forms label {
  display: none;
  width: auto;
}

.forms-wrapper {
  width: 100%;
  font-size: 0px;
}

.forms-wrapper > div {
  display: inline-block;
  vertical-align: middle;
}

.forms-wrapper > div:not(:last-child){
  margin-right: 20px;
}

.sing-block-links {
  width: 120px;
  margin-right: 0px;
  outline: 1px solid #CD1B1E;
}

.sing-block-links a {
  font-size: 13px;
  line-height: 24px;
}

.btn {
  display: block;
  font-size: 18px;
  line-height: 24px;
  width: 101px;
  height: 45px;
  outline: 1px solid #CD1B1E; 
}

.search-block {
  width: 307px;
  height: 40px;
  top: 60px;
  left: 50%;
  z-index: 3;
  display: none;
}

.sign-block {
  width: 243px;
  height: 190px;
  top: 60px;
  right: 13.3%;
  z-index: 2;
  display:none; 
}

.feedback {
  display: none;
  position: absolute;
  z-index: 4;
  top: 10%;
  left: 25%;
  width: 444px;
  height: 399px;
  }

.feedback-header {
  margin-bottom: 26px;
}

.feedback-button {
  float: right;
}

.close-btn {
  display: block;
  width: 23px;
  height: 23px;
  float: right;
  outline: 1px solid #1AC72E;
}

.cart-block {
  display: none;
  position: absolute;
  top: 50px;
  right: 2.3%;
  z-index:5;
}

.cart-block img {
  width: 38px;
  height: 38px;
}

.del-btn {
  width: 15px;
  height: 15px;
  display: block;
  outline: 1px solid #CD2628;
}

.user-cart {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-cart td {
  padding: 10px 7px;
  max-width: 230px;
  vertical-align: middle;
  font-size: 13px;
  line-height: 16px;
}

.user-cart .total {
  text-align: right;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  border-top: 1px solid #cacac7;
}

.cart-block .btn {
  float: right;
}


.page-header-container {
   display: block; 
   outline: 2px solid #FFFFFF;
   margin-bottom: 10px;
}

.breadcrumb {
  float: left;
  list-style: none;
  margin-top: 12px;
}

.breadcrumb li {
  display: inline-block;
  list-style-type: none;
}

.breadcrumb li:not(:last-child)::after {
  content: '»';
}

.main-info {
  position: relative;
  margin-top: -10px;
  z-index: 1;
  float: right;
  width: 170px;
  text-align: right;
  outline: 2px solid #ffffff;
}

.carusel {
  position: relative;
  width: auto;
  height: 1020px;
  margin-bottom: -450px;
  z-index: 0;
  top: -80px;  
}

.slide_1 {
  background-image: url('../img/light_1.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide_2 {
  background-image: url('../img/light_1.png');
}

.slide_2 {
  background-image: url('../img/light_1.png');
}

.carusel img {
  display: block;
  margin: 0 auto;
}

.carusel-item {
  display: none;
  padding-top: 82px;
  
}

.carusel-item.active {
  display:block;
}

.carusel-item-promo {
  display: block;
  margin: 0 auto;
  margin-top: -272px;
  font-size: 60px;
  line-height: 60px;
  width: 668px;
  text-align: center;
  outline: 2px solid #B33B3D;
}

.carusel .btn {
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
  width: 280px;
  height: 65px;
  background-color: #B96364;
}

.carusel-indicators {
  background-color: #BD8C8D;
  list-style: none;
  position: absolute;
  top: 562px;
  left: 10px;
  width: 80px;
  min-height: 25px;
}

.carusel-indicators li {
  display: inline-block;
}

.banners {
  position: relative;
  z-index: 2;
}

.banners-container {
  width: 46.6%;
  min-height: 230px;
  float: left;
  margin-right: 2.2%;
  margin-bottom: 40px;
  outline: 2px solid #ffffff;
}

.banners-container:last-child {
  float: right;
  margin-right: 0;
}

.filters {
  width: 860px;
  min-height: 140px;
  margin-top: 28px;
  margin-bottom: 39px;
}

.filters-item, .filter-item-radio, .filter-item-checkbox {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 17px;
}

.filters-item:not(:last-child) {
  margin-right: 20px;
}

.catalog {
  outline: 2px solid #ffffff;
  text-align:center;
  font-size: 0px;
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  width: 22.2%;
  margin-right: 2.2%;
  margin-bottom: 40px;
  font-size: 16px;
  outline: 2px solid #ffffff;
}

.catalog-item:nth-child(4n) {
  margin-right: 0px;
}

.catalog-item img {
  width: 100%;
}

.catalog-item-bg {
  display: none;
}

.catalog-paginator {
  width: 190px;
  float: right;
  margin-top: 80px;
  margin-bottom: 30px;
  outline: 2px solid #ffffff;
}

.features {
  outline: 2px solid #ffffff;
  min-height: 248px;
  padding: 30px 20px;
  margin-bottom: 40px;
}

.features-container {
  display: block;
  outline: 2px solid #3BE1DF;
  margin-top: 15px;
  margin-bottom: 25px;
}

.features-item {
  float: left;
  width: 46.6%;
  margin-right: 2.2%;
  outline: 2px solid #ffffff;
}

.features-item:nth-child(2n) {
  float: right;
  margin-right: 0;
}

.blog {
  outline: 2px solid #ffffff;
}

.blog > div {
  outline: 2px solid #ffffff;
  width: 46.6%;
  min-height: 220px;
  float: left;
  margin-right: 2.2%;
  margin-bottom: 40px;
}

.blog > div:last-child{
  margin-right: 0;
  float: right;
}


.location {
  background-color: #9A126F;
  min-height: 430px;
  margin: 0 auto;
  position: relative;
}

.location-address {
  background-color: #B7DEFF;
  width: 252px; 
  min-height: 237px;
  position: absolute;
  top: 63px;
  right: 27px;
  padding: 34px 25px;
}

.location .btn {
  width: 252px;
}


footer {
  line-height: 18px;
  min-height: 103px;
}

.footer-wrapper {
  outline: 2px solid #FFFFFF;
  width: 26.7%;
  float: left;
  min-height: 100px;
}

.center {
  width: 46.6%;
}

.footer-social {
  width: 191px;
  display: inline-block;
  margin-top: 36px;
}

.footer-info {
  display: block;
  width: 330px;
  font-size: 13px;
  vertical-align: top;
  margin: 36px auto 0;
}

.footer-info > div {
  display: inline-block;
  margin-right: 25px;
}

.footer-info > div:last-child {
  margin-right: 0;
}

.footer-info > div > ul {
  list-style: none;
}

.footer-copyright {
  width: 195px;
  float: right;
  font-size: 12px;
  margin-top: 22px;
}

.page-header {
  font-size: 31px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
}

.banners-header {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
}

.catalog-item-description {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: underline;
}

